* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', '华文细黑', sans-serif;
    user-select: none;
}

body {
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}


.settings-container {
    width: 98%;
    height: 98%;
    padding: 20px;
    position: relative;
    background: #181818;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.button-panel {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: transparent;
    -webkit-app-region: drag;
}

.close-btn {
    color: white;
    border: none;
    right: 23px;
    width: 30px;
    height: 30px;
    font-size: 28px;
    transition: all 0.3s ease;
    z-index: 1;
    background: transparent;
    transform: scale(0.9);
    -webkit-app-region: no-drag;
}

.close-btn:hover {
    color: red;
}


.settings-panel {
    display: flex;
    overflow-x: auto;
    padding: 20px 0;
    gap: 20px;
    scrollbar-width: none;
    transition: all 0.3s ease;
    scroll-behavior: smooth;
}

.settings-panel::-webkit-scrollbar {
    height: 5px;
}

.settings-panel::-webkit-scrollbar-track {
    background: #333;
    border-radius: 10px;
}

.settings-panel::-webkit-scrollbar-thumb {
    background: #f39c12;
    border-radius: 10px;
}

.setting-card {
    background: #222;
    border-radius: 10px;
    padding: 20px;
    min-width: 233px;
    height: 250px;
    overflow: hidden;
    transition: all 0.2s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.setting-card:first-child {
    margin-left: 10px;
}

.setting-card.active {
    box-shadow: 0 0 2px 0px #f39c12;
    overflow-y: auto;
}

.setting-card.active::-webkit-scrollbar {
    display: none;
}

.setting-card h3 {
    font-size: 18px;
    color: #f39c12;
}

label {
    display: block;
    margin: 8px 0;
    color: #aaa;
    font-size: 14px;
    font-weight: bold;
}

.button {
    background: linear-gradient(145deg, #3a3a3a, #2a2a2a);
    border: 1px solid #3f3f3f;
    color: #fff;
    padding: 6px 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px 0;
    font-weight: 600;
}

.button:hover {
    transform: translateY(-2px);
}

input[type="range"] {
    width: 100%;
    height: 6px;
    background: #333;
    border-radius: 3px;
    outline: none;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: #f39c12;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    background: #f39c12;
}

.range-value {
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    border-radius: 10px;
    transform: scale(0.98);
    display: none;
}

.popup-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    width: auto;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
}

#popup-message {
    color: #000;
    font-family: auto;
    font-size: 15px;
}


#popup-ok {
    margin-top: 8px;
    padding: 3px 20px;
    background: linear-gradient(145deg, #f39c12, #de8f10);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#popup-ok:hover {
    transform: translateY(-3px);
}

#popup-ok:active {
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 247, 255, 0.3);
}

.light {
    background: #f0f0f0;
    color: #333;
}

.media-container {
    width: 150px;
    display: flex;
    gap: 10px;
}

.media-item {
    width: 123%;
    height: 113px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #363636;
    opacity: 0;
    animation: fadeIn 0.8s ease-in forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.stitle {
    color: #f39c12;
    margin-top: -14px;
    z-index: 1;
    position: absolute;
    left: 20px;
    font-family: auto;
    font-size: 31px;
    filter: drop-shadow(17px 0px 0px #ffb53f);
}