/* 
    @Author: 发光的神（VoxShadow）
    @Date: 2023/8/31 ~ 2025/3/22
    @Version: 1.0.5
*/

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

@font-face {
    font-family: 'BalooDa2-SemiBold';
    src: url('../font-awesome/SemiBold.ttf');
}

@font-face {
    font-family: 'facon';
    src: url('../font-awesome/facon.ttf');
}


.metaTable {
    font-size: 16px;
    color: #ffffff;
    position: fixed;
    bottom: 8px;
    right: 10px;
    font-family: facon;
    filter: contrast(0.9);
    writing-mode: vertical-rl;
    opacity: 0;
    transform: translateX(50px);
    animation: fadeInMove 0.8s ease-out forwards;
    user-select: none;
    pointer-events: none;
}

@keyframes fadeInMove {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fa {
    font: 14px/1 FontAwesome;
}

#MetaSword-main-view {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 98%;
    min-height: 98%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #0c0c0c;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0);
    overflow: hidden;
}

.MetaSword-topbar-view {
    position: relative;
    width: 100%;
    height: 30px;
    background: #0c0c0c;
    -webkit-app-region: drag;
}

.MetaSword-title {
    position: absolute;
    top: 50%;
    left: 38px;
    transform: translateY(-50%);
    color: #fff;
    font-weight: bold;
    font-family: cursive;
    font-size: 16px;
    -webkit-user-select: none;
}

#MetaSword-customCloseBut {
    position: absolute;
    color: #fff;
    top: 50%;
    right: 0;
    padding: 8px 13px;
    transform: translateY(-50%);
    -webkit-app-region: no-drag;
    font-size: 13px;
    transition: all 0.5s;
}

#MetaSword-customCloseBut:hover {
    color: #ff0000;
}

.MetaSword-container-touch-view {
    position: fixed;
    top: 53%;
    width: 53px;
    height: 250px;
    transition: 0.3s;
    transform: translateY(-50%);
    z-index: 999;
}


.MetaSword-container {
    width: 7px;
    height: 100%;
    background-color: lightseagreen;
    border-radius: 0px 20px 20px 0px;
    transition: 0.2s;
}

.MetaSword-container.expanded {
    width: 12px;
}

.MetaSword-online {
    position: relative;
    top: 68px;
    width: 5px;
    height: 33px;
    background-color: lightseagreen;
    transition: 0.1s;
    border-radius: 0px 20px 20px 0px;
    z-index: -1;
    margin-left: 1px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0);
}

.MetaSword-online.expanded {
    width: 48px;
}

.MetaSword-left-Menu {
    width: 53px;
    height: 145px;
    transform: translateY(30px);
    opacity: 0;
    transition: 0.5s;
}

.MetaSword-main-View-line {
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to left, #ffffff, #3f3f3f)
}

.MetaSword-main-View-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    min-height: 80%;
    min-width: 455px;
}

#MetaSword-input-output {
    color: #00ab00;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

#MetaSword-terminal {
    height: 250px;
    padding: 3px 15px;
    overflow-y: scroll;
    color: #fff;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

::selection {
    background: #03bd03;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    font-weight: bold;
}


#MetaSword-terminal::-webkit-scrollbar {
    display: none;
}

#MetaSword-terminal {
    scrollbar-width: none;
}


.copy-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #3a3a3a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
}

pre {
    position: relative;
    margin: 10px 0;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.copy-button:active {
    background-color: #474747;
}

.ai-avatar {
    width: 30px;
    margin-right: 10px;
    user-select: none;
    pointer-events: none;
}

.user-message {
    background: #1e88e5;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 80%;
    align-self: flex-end;
    word-break: break-word;
    animation: fadeInShake 0.8s ease-in-out;
}

.ai-message {
    background: #1d1d1d;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    max-width: 80%;
    align-self: flex-start;
    word-break: break-word;
    animation: fadeInShake 0.8s ease-in-out;
}


@keyframes fadeInShake {
    0% {
        opacity: 0;
        transform: translateX(0);
    }

    50% {
        opacity: 0.7;
        transform: translateX(-5px);
    }

    70% {
        opacity: 1;
        transform: translateX(5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.terminal-text {
    color: #03bd03;
    font-size: 17px;
    font-family: cursive;
    font-weight: bold;
}

.AI-Tips {
    color: #03bd03;
    font-size: 18px;
    font-family: 'BalooDa2-SemiBold';
    user-select: none;
}


#MetaSword-terminal::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

#MetaSword-terminal::-webkit-scrollbar-thumb {
    background-color: #464646;
    border-radius: 3px;
}

#MetaSword-prompt {
    flex: 0 0 auto;
    color: #00ab00;
    font-size: 16px;
    font-family: cursive;
    font-weight: bold;
    user-select: none;
}

#MetaSword-input-container {
    position: relative;
    width: 90%;
}

#MetaSword-input {
    width: 93%;
    border: none;
    outline: none;
    caret-color: #00ab00;
    color: #00ab00;
    background: #0c0c0c;
    font-size: 16px;
    font-weight: bold;
    font-family: cursive;
}

#clear-button {
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

#clear-button:active {
    font-size: 21px;
    filter: blur(1px);
}

#clear-button img {
    width: 20px;
    height: auto;
    filter: brightness(0.6);
}

#close-button {
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-46%);
    border: none;
    cursor: pointer;
    padding: 0;
    background: transparent;
}


#close-button:active {
    font-size: 21px;
    filter: blur(1px);
}

#close-button img {
    width: 18px;
    height: auto;
    filter: brightness(0.6);
}

.MetaSword-toolsView {
    width: 430px;
    height: 26px;
    position: fixed;
    bottom: -9px;
    background-color: rgb(28 28 28);
    color: #fff;
    border-radius: 6px;
    transition: opacity 0.3s ease;
    opacity: 0;
    padding: 2px;
    margin-left: 10px;
    overflow: hidden;
    text-align: center;
}

.MetaSword-center-avatar {
    width: 100%;
    text-align: center;
    margin-top: 65px;
}

.MetaSword-main-View-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-home {
    position: absolute;
    font-size: 27px;
    color: #fff;
    padding: 7px 16px;
    transition: 0.05s;
    /* background: antiquewhite; */
    filter: drop-shadow(2px 2px 2px #3c3c3c);
}

.fa-home:active {
    font-size: 25px;
    filter: blur(1px);
}


.fa-cube {
    position: absolute;
    font-size: 23px;
    color: #fff;
    top: 37px;
    padding: 9px 16px;
    transition: 0.05s;
    /* background: aqua; */
    filter: drop-shadow(2px 2px 2px #3c3c3c);
}

.fa-cube:active {
    font-size: 21px;
    filter: blur(1px);
}

.DeepSeekbutton {
    position: absolute;
    top: 77px;
    width: 32px;
    padding: 4px 11px;
    transition: 0.05s;
    /* background: blueviolet; */
    filter: drop-shadow(2px 2px 2px #3c3c3c);
}


.DeepSeekbutton:active {
    width: 30px;
    filter: blur(1px);
}

.fa-tags {
    position: absolute;
    font-size: 21px;
    color: #fff;
    top: 116px;
    padding: 7px 16px;
    transition: 0.05s;
    /* background: brown; */
    filter: drop-shadow(2px 2px 2px #3c3c3c);
}

.fa-tags:active {
    font-size: 19px;
    filter: blur(1px);
}


.fa-eercast {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 20px;
}

.fa-window-minimize {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 50%;
    right: 35px;
    font-size: 9px;
    padding: 11px 13px;
    transform: translateY(-50%);
    color: #fff;
    transition: all 0.5s;
}

.fa-window-minimize:hover {
    color: lightseagreen;
}

.transition-effect {
    transition: opacity 0.2s;
    opacity: 0;
    visibility: hidden;
}

.show {
    visibility: visible;
    opacity: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px 5px;
    max-height: 208px;
    overflow-y: auto;
    padding: 5px 10px;
}

.grid-container::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

.grid-container::-webkit-scrollbar-thumb {
    background-color: #464646;
    border-radius: 4px;
}

.grid-container button {
    height: 29px;
}

.toolsbutton {
    background-color: #181818;
    color: #fff;
    border-radius: 8px;
    transition: 0.2s;
    box-shadow: 2px 2px 0px rgb(1 138 100);
    font-family: BalooDa2-SemiBold;
    border: none;
}

.toolsbutton:focus {
    outline: none;
    box-shadow: 2px 2px 0px #00b9a0;
}

.toolbar-button {
    color: #fff;
    background-color: #292929;
    margin: 1px 2px;
    padding: 0px 13px;
    font-family: 'BalooDa2-SemiBold';
    font-size: 13px;
    border-radius: 5px;
    border: none;
    user-select: none;
    font-weight: bold;
    filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.9));
}

.toolbar-button:focus {
    outline: none;
    box-shadow: 0px 3px 0px -1px rgb(0 165 120);
}

input[type="search"] {
    width: 95%;
    padding: 3px 8px;
    border: 2px solid #353535;
    border-radius: 5px;
    outline: none;
    background: #0a0a0a;
    font-family: 'BalooDa2-SemiBold', sans-serif;
    caret-color: white;
    color: white;
    transition: border-color 0.2s;
    user-select: none;
    font-weight: bold;
}

input[type="search"]::selection {
    background: #00a18c;
    color: white;
}


input[type="search"]:focus {
    border-color: #00a18c;
}

input[type="search"]:hover {
    border-color: #00a18c;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100px
}

.button-container img {
    width: 20px;
    height: auto;
    margin-right: 3px;
    margin-left: 5px;
    border-radius: 4px;
}

.button-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 600;
}

#homePage,
#toolsPage,
#DeepSeekPage,
#aboutPage {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.avatar {
    width: 80px;
    border-radius: 100%;
    transition: all 0.4s;
    user-select: none;
}

.avatar:hover {
    width: 90px;
}


.logo-left {
    opacity: 0;
    position: absolute;
    width: 256px;
    transform: translate(-50%, -50%);
    animation: slide-in1 0.3s ease-in-out forwards;
    top: 50%;
    left: 50%;
    filter: invert(1);
}

.logo-right {
    opacity: 0;
    position: absolute;
    width: 256px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation: slide-in2 0.3s ease-in-out forwards;
    /* filter: drop-shadow(-2px -2px 3px rgb(255, 255, 255)); */
}

#center-logo {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 254px;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 30px 30px 35px 35px;
    animation: fade-in 0.5s 0.3s forwards;
    /* filter: drop-shadow(2px 4px 6px black); */
}


#center-logo:hover {
    box-shadow: 0px 7px 1px -4px rgba(0, 161, 140, 1);
}

.context-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 100%);
    z-index: 1000;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.context-menu.show {
    opacity: 1;
    transform: scale(1);
}

.context-menu.hide {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.context-menu-item {
    font-weight: bold;
    padding: 3px 5px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.context-menu-item span {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.context-menu-item:hover span {
    background-color: #00a18c;
    color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.small-icon {
    position: absolute;
    top: 0px;
    right: 2px;
    width: 12px;
    pointer-events: none;
    filter: hue-rotate(140deg);
}


@keyframes slide-in {
    0% {
        transform: translateX(-5px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-5px);
        opacity: 0;
    }
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.mask {
    width: 500px;
    filter: brightness(0.9);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeInScale 1s ease-out forwards;
}

.sword-back {
    position: absolute;
    width: 110px;
    height: 180px;
    background-color: #0C0C0C;
    top: 45%;
    left: 50%;
    transform: translate(-52%, -50%);
    border-radius: 50%;
    filter: blur(15px);
}

#model-select {
    background-color: #1f1f1f;
    border: 1px solid #363636;
    border-radius: 8px;
    cursor: pointer;
    color: #03bd03;
    padding: 5px 0px;
    font-weight: bold;
    font-size: 14px;
    width: 200px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    -moz-appearance: none;
    position: relative;
}

#model-select:focus {
    outline: none;
    border-color: #03bd03;
    box-shadow: 0 2px 4px rgba(3, 189, 3, 0.5);
}

#model-select option:hover {
    background-color: #025002;
    color: white;
}